@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Knewave&family=Rancho&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #FFEBAE;
}

.welcome-page {
	text-align: center;
	width: 100%;
}

h1 {
	font-family: rancho;
	font-size: 50px;
	align-items: center;
	color: var(--color-primary);
}

h2 {
	font-family: rancho;
	font-size: 40px;
}

.welcome-cat {
	max-width: 100%;
	height: auto;
	margin-top: -130px;

}

/* This uses the same value as --size-xs. */
@media screen and (width >=320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}