@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Knewave&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #FFEBAE;
}

.welcome-page {
	text-align: center;
	width: 100%;
}

.welcome-heading {
	display: block;
	line-height: 1.2;

}

h1 {
	font-family: rancho, serif;
	font-size: 50px;
	align-items: center;
	color: var(--color-primary);
}

h2 {
	font-family: rancho, serif;
	font-size: 40px;
}

.welcome-cat {
	max-width: 100%;
	height: auto;
	margin-top: -130px;

}

.site-header {
	display: flex;
	justify-content: space-between;
}

.header-title {
	font-family: rancho, serif;
	font-size: 30px;
}

.about-button {
	background-color: #9fadf5;
	border-radius: 30px;
	padding: 8px 20px;
	font-family: rancho, serif;
	font-size: 23px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.about-button-cat {
	width: 30px;
	height: 30px;
}

.control-buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: fixed;
	right: 30px;
	top: 60%;
}

.control-buttons img {
	width: 45px;
	height: 45px;
}

.video-container {
	width: 100%;
	position: relative;
	z-index: auto;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

iframe {
	height: 764px;
	border: none;
}

.about-page {
	max-width 90%;
	margin: 0 auto;
	padding: 20px;
	background-color: #FBEFEF;
}

.about-heading {
	text-align: center;
}

.about-page p {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 15px;
}

.mascot {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	width: 120px;
}

.cat-speaking {
	position: relative;
	bottom: -100px;
	right: 100px;
	max-width: 80%;
	margin: 20px auto;
}

.speech-bubble {
	position: relative;
	left: -20%;
	width: 100%;
	max-width: 400px;
	margin-left: 70px;
	margin-bottom: 20px;

}

.speech-content {
	position: absolute;
	top: 0;
	left: 55px;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10% 15%;
	box-sizing: border-box;
	text-align: center;
}

.speech-content p {
	margin: 5px 0;
	font-family: "Rancho", cursive, serif;
	font-size: 17px;
	line-height: 1.2;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
}


.welcome-page,
/*.about-page,*/
.cat-speaking,
.video-container,
.share {
	display: none;
}

@media (min-width:768px) {
	.welcome-page {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		padding: 40px 20px;
		position: relative;
	}

	.welcome-heading {
		padding-left: 40px;
	}

	h1 {
		font-size: 80px;
		text-align: left;
	}

	h2 {
		font-size: 60px;
		text-align: left;
		margin-left: 90px;
	}

	.welcome-cat {
		width: 400px;
		height: auto;
		position: relative;
		right: 300px;
		bottom: 450px;
	}

	.header-title {
		font-family: rancho, serif;
		font-size: 50px;
	}

	.about-button {
		font-size: 30px;
		border: none;
		padding: 8px 20px;
	}

	.about-button-cat {
		width: 30px;
		height: 30px;
	}

	.control-buttons img {
		width: 50px;
		height: 50px;
	}

	iframe {
		width: 595px;
		height: 1057px;
	}

	.about-page p {
		font-size: 27px;
	}

	.mascot {
		width: 150px;
	}

	.cat-speaking {
		position: relative;
		bottom: -100px;
		right: 100px;
		max-width: 80%;
		margin: 20px auto;
	}

	.speech-bubble {
		position: relative;
		max-width: 500px;
		bottom: 200px;

	}

	.speech-content {
		position: absolute;
		left: 10px;
		width: 65%;
		height: 40%;
	}

	.speech-content p {
		font-size: 23px;
	}

	.welcome-page,
	/*.about-page,*/
	.cat-speaking,
	.video-container,
	.share {
		display: none;
	}
}

@media (min-width:1024px) {
	.site-header {
		position: absolute;
		width: 100%;
	}

	.welcome-page {
		display: flex;
	}

	.welcome-heading {
		padding-left: 60px;
	}

	h2 {
		margin-left: 50px;
	}

	.welcome-cat {
		bottom: 500px;
	}

	.header-title {
		font-size: 60px;
	}

	.about-button {
		font-size: 40px;
	}

	.about-button-cat {
		width: 40px;
		height: 40px;
	}

	.control-buttons img {
		width: 60px;
		height: 60px;
	}

	iframe {
		width: 468px;
		height: 832px;
		position: absolute;
	}


	.about-page {
		max-width 90%;
		margin: 0 auto;
		padding: 20px;
		background-color: #FBEFEF;
		/* about page will run into header, solve it and change the value of cat speaking bubble */
	}

	.mascot {
		width: 150px;
	}

	.cat-speaking {
		position: relative;
		bottom: -100px;
		right: 100px;
		max-width: 80%;
		margin: 20px auto;
	}

	.speech-bubble {
		position: relative;
		max-width: 500px;
		bottom: 200px;

	}

	.speech-content {
		position: absolute;
		left: 10px;
		width: 65%;
		height: 40%;
	}

	.speech-content p {
		font-size: 23px;
	}

	.welcome-page,
	/*.about-page,*/
	.cat-speaking,
	.video-container,
	.share {
		display: none;
	}
}